[Unit]
Description=Run the p1serial service, reading the p1 port and writing it to the dbase.

[Service]
Type=simple
User=jan
Group=jan
ExecStart=/opt/p1serial/venv/bin/python /opt/p1serial/bin/p1serial

[Install]
WantedBy=multi-user.target
